@charset "UTF 8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family: "Lora";
    src: url("font/Lora-Regular.ttf") format("truetype");
    font-weight: normal;
}

:root {

    --cor1: #6118BF;
    --cor2: #300C63;
    --cor3: #1E073B;
    --cor4: #10031D;
    --cor5: #020003;

    --fonte-padrao: "Lora", sans-serif;
}

* {
    margin: auto;
    color: white;
    text-align: center;
}

body {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor1));
    margin: auto;
    height: 1100px;
    font-family: var(--fonte-padrao);
}

header {
    min-height: 120px;
    text-align: center;
    padding-top: 20px;
}

section.tela-login {
    display: block;
    max-width: 2500px;
    justify-content: space-around;
    padding: 0 2%;
    flex-wrap: wrap;
    margin: 50px auto;
}

.form-pagamento {
    font-family: var(--fonte-padrao);
    box-shadow: 2px 5px 15px 5px #300c59;
    padding: 30px 30px 50px 30px;
    width: 50%;
    background: #300c59;
    border-radius: 3px;
    border: 2px solid white;
    display: flex;
}

.form-pagamento#formulario {
    font-family: var(--fonte-padrao);
    box-shadow: 2px 5px 15px 5px #300c59;
    padding: 30px 30px 50px 30px;
    width: 50%;
    background: #300c59;
    border-radius: 3px;
    border: 2px solid white;
    display: flex;
}

div.formulario {
    width: 12%;
    border: 2px solid white;
    background-color: var(--cor4);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.268);
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
    cursor: pointer;
    transition-duration: .5s;
}

div.resposta {
    width: 35%;
    border: 2px solid white;
    background-color: var(--cor4);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.268);
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    transition-duration: .5s;
}

div.editar {
    width: 35%;
    border: 2px solid white;
    background-color: var(--cor4);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.268);
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 50px;
    text-align: center;
    cursor: pointer;
    transition-duration: .5s;
}

div.formulario:hover {
    box-shadow: 15px 15px 18px rgba(0, 0, 0, 0.388);
}

div.resposta:hover {
    box-shadow: 15px 15px 18px rgba(0, 0, 0, 0.268);
}

div.editar:hover {
    box-shadow: 15px 15px 18px rgba(0, 0, 0, 0.268);
}

a {
    font-family: var(--fonte-padrao);
    text-decoration: none;
    color: white;
}

h1 {
    padding: 10px 0px;
}

h2 {
    margin: 0px;
    padding-left: 10px;
}

h3 {
    margin: 0px;
    padding-left: 10px;
    padding-top: 40px;
}

img {
    margin-top: -10px;
}

@media screen and (max-width: 768px) {

    body {
        height: 1200px;
    }

    header {
        min-height: 90px;
        text-align: center;
        padding-top: 20px;
    }

    img {
        height: 80px;
        margin-top: -35px;
    }

    section.tela-login {
        margin: 50px auto;
    }

    section.add {
        padding-top: 20px;
    }

    .form-pagamento {
        width: 70%;
    }

    .form-pagamento#formulario {
        width: 70%;
        flex-direction: column;
    }

    div.formulario {
        display: flex;
        margin: auto;
        width: 40%;
    }

    div.editar {
        width: 70%;
        margin: 20px auto 10px auto;
    }

    div.resposta {
        width: 70%;
        margin: 10px auto;
    }

    h2 {
        margin: 0px;
        padding-left: 0px;
        font-size: 1.5em;
    }
    
    h3 {
        margin: 0px;
        padding-left: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}